.stories {
  margin-top: 8rem;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  position: relative;

  @include respond(large) {
    row-gap: 3rem;
  }

  @include respond(small) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 4rem;
  }

  &::before {
    content: url("../images/bg-quotes.png");
    position: absolute;
    top: -2.5rem;
    left: -0.5rem;

    @include respond(small) {
      content: "";
      background-image: url("../images/bg-quotes.png");
      background-size: contain;
      width: 2rem;
      height: 2rem;
      transform: translate(4.5rem, 1rem);
    }
  }

  &__box {
    background-color: $color-primary-lighter;
    padding: 2rem;
    filter: drop-shadow(10px 10px 0px $color-primary-light);
    transition: all 0.2s;
  }

  &__box:hover,
  &__box:active {
    filter: none;
    transform: translate(10px, 10px);
  }

  &__user-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 1rem;
    margin-top: 1.5rem;
    hyphens: auto;
  }

  &__avatar {
    width: 2rem;
    border-radius: 100%;
    grid-row: 1 / -1;
  }

  &__name {
    color: $color-white;
    font-size: 0.8rem;
    font-weight: 700;
  }

  & p:last-child {
    grid-column: 2 / 3;
  }
}
